{
	"singleQuote": false,
	"semi": false,
	"useTabs": true,
	"tabWidth": 2,
	"overrides": [
		{
			"files": "*.md",
			"options": {
				"useTabs": false,
				"tabWidth": 2,
				"proseWrap": "always"
			}
		}
	]
}
